* {
	box-sizing: border-box;
}

h1 {
	font-family: UnifrakturCook, curisive;
	font-size: 36px;
	color: #202020;
	text-align: center;
}

div {
	display: flex;
	align-items: center;
	justify-content: center;
}

button {
	background: #e0e0e0;
	border-radius: 4px;
	border: 1px solid #202020;
	font-family: IBM Plex Sans, sans-serif;
	color: #202020;
	font-size: 14px;
	width: 100%;
	padding: 7px 0px;
}

button:hover {
	background: #f0f0f0;
}

button:active {
	transform: translateY(4px);
}

img {
	vertical-align: middle;
}

.grid-container {
	display: grid;
	grid-template-columns: 0.5fr 2fr 0.5fr;
	grid-template-rows: 0.5fr 2fr 0.5fr;
	grid-template-areas: ". . ." ". Content ." ". . .";
}

.Content {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "Map Map Controls" "Map Map Controls";
	grid-area: Content;
}

.Map {
	grid-area: Map;
}

.Controls {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas: ". WorldName WorldName WorldName ." ". MapViews MapViews MapViews ." ". MapViews MapViews MapViews ." ". MapViews MapViews MapViews ." ". MapViews MapViews MapViews ." ". . NewWorldButton . ." ". SaveButton . SettingsButton .";
	grid-area: Controls;
}

.NewWorldButton {
	grid-area: NewWorldButton;
}

.SaveButton {
	grid-area: SaveButton;
}

.SettingsButton {
	grid-area: SettingsButton;
}

.WorldName {
	grid-area: WorldName;
}


.MapViews {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-areas: ". TerrainButton TerrainButton TerrainButton ." ". BiomeButton BiomeButton BiomeButton ." ". ClimateButton ClimateButton ClimateButton .." ". PoliticalButton PoliticalButton PoliticalButton .";
	grid-area: MapViews;
	height: 100%;
}

.TerrainButton {
	grid-area: TerrainButton;
}

.BiomeButton {
	grid-area: BiomeButton;
}

.ClimateButton {
	grid-area: ClimateButton; 
}
.PoliticalButton {
	grid-area: PoliticalButton;
}

