* {
	box-sizing: border-box;
}

h1 {
	font-family: UnifrakturCook, curisive;
	font-size: 34px;
	color: #202020;
	text-align: center;
}

div {
	display: flex;
	align-items: center;
	justify-content: center;
}

button {
	background: #e0e0e0;
	border-radius: 4px;
	font-family: IBM Plex Sans, sans-serif;
	color: #202020;
	font-size: 14px;
	border-style: none;
	width: 75%;
	height: 70%;
	line-height: 30px;
}

.grid-container {
	display: grid;
	grid-template-columns: 0.5fr 2fr 0.5fr;
	grid-template-rows: 0.5fr 2fr 0.5fr;
	grid-template-areas: ". . ." ". Content ." ". . .";
}

.Content {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "Map Map Controls" "Map Map Controls";
	grid-area: Content;
}

.Map {
	grid-area: Map;
}

.Controls {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas: "WorldName WorldName WorldName" "MapViews MapViews MapViews" "MapViews MapViews MapViews" "MapViews MapViews MapViews" "MapViews MapViews MapViews" "MapViews MapViews MapViews" "NewWorld SaveMap Settings";
	  grid-area: Controls;
}

.NewWorld {
	grid-area: NewWorld;
}

.SaveMap {
	grid-area: SaveMap;
}

.Settings {
	grid-area: Settings;
}

.WorldName { grid-area: WorldName; }

.MapViews {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas: ". Elevation Elevation Elevation ." ". Biome Biome Biome ." ". Political Political Political ." ". Climate Climate Climate ." ". Topography Topography Topography .";
	grid-area: MapViews;
	height: 100%;
}

.Elevation {
	grid-area: Elevation;
}

.Biome {
	grid-area: Biome;
}

.Political {
	grid-area: Political;
}

.Climate {
	grid-area: Climate; 
}

.Topography {
	grid-area: Topography;
}